@section Scripts {
    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
    <script src="~/signalr/hubs" type="text/javascript"></script>
}

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    <ul id="online-users">

    </ul>
</div>
<div>
    <h2 id="invitation"></h2>
</div>
<input id="text" type="text" />
<button>Send</button>
<table></table>

<script>



    $(function () {

        $.connection.hub.start();

        let data;

        let game = $.connection.game;

        $('button').on('click', storeUser);

        function storeUser() {
            
            game.server.storeUser();

        }

        function listUsers(users) {
            console.log(users);
            let ul = $('#online-users').empty();

            for (let user of users) {
                let listItem = $('<li>').text(user);
                listItem.on('click', function () {
                    game.server.invite(listItem.text());
                })
                ul.append(listItem);
            }
        }

        function removeUser(user) {
            $(`li:contains(${user})`).remove();
        }

        function recieveInvitation(host) {
            $('#invitation').attr('data-conn-id', host.ConnectionId).text(`invitation from ${host.Username}`);
        }

        game.client.recieveInvitation = recieveInvitation;
        game.client.removeUser = removeUser;
        game.client.addMessage = addMessage;
        game.client.listUsers = listUsers;

        function addMessage(msg) {
            $('table').append($('<h3>').text(msg));
        }




        $.ajax({

            url: '@Url.Action("GetBoard", "Game")',
            context: document.body
        }).done(function(serverdata) {
            data = serverdata;

            console.log(data);

        });
    });

</script>
