@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    padding: 0;
    margin: 0;
    font-family: Lato, sans-serif;
    display: flex;
    justify-content: center;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

table {
    margin: 0 auto;
}

td {
    width: 70px;
    height: 70px;
    display: inline-block;
    text-align: center;
    line-height: 65px;
}

img {
    width: 100%;
}

li {
    list-style-type: none;
}

.online-user {
    margin: 5px;
    padding: 5px;
    background-color: cadetblue;
    border-radius: 2px;
    display: inline-block;
}

#chessboard {
    border-radius: 5px;
}

#inputs input{
    width:15px;
    margin: 5px;
    display: inline-block;
}

footer {
    width: 100%;
}

.my-container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
}

#message-box {
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    max-height: 100px;
}

#chessboard {
    width: 67%;
}
